*{
	margin:0px;
	padding:0px;
}
body {
background-image: url(aaa.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}
#container1{
	width:650px; 
	margin-top:80px;
	margin-left:400px;
	height:300px;
    border:1px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#fcfcfc;
	position:absolute;
}
#container2{
	width:650px; 
	margin-top:360px;
	margin-left:400px;
	height:400px;
	border:1px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#fcfcfc;
	position:absolute;
}
#bee{
	width:310px;
	height:300px;
	margin-top:100px;
	margin-left:10px;
	background-color:white;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid black;
	float:left;
	display:inline-block;
}
#box{
	border-bottom: 3px solid #34495e;
	background-color:#fcfcfc;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
}
#Radio1{
	margin-left:250px;
}